.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 10rem 10rem;
  background-color: #679436;
  color: white;
  // overflow: hidden;

  .cardscontainer {
    display: flex;
    gap: 1rem;

    .cardcontainer {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      p {
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-word;
        max-width: 350px;
        font-weight: 400;
        font-style: normal;
        font-family: "Martian Mono", monospace;
        color: #ffffff;
        font-size: 20px;
        letter-spacing: -0.025em;
        line-height: 1.5;
      }

      .imgcontainer {
        width: 380px;
        height: 400px;
        mix-blend-mode: luminosity;
        // overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media (min-width: 810px) {
  .cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 4rem 2rem;
    background-color: #679436;
    color: white;

    .cardscontainer {
      display: flex;
      gap: 2rem;

      .cardcontainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1.5rem;

        p {
          white-space: pre-wrap;
          word-wrap: break-word;
          word-break: break-word;
          max-width: 350px;
          font-weight: 400;
          font-style: normal;
          font-family: "Martian Mono", monospace;
          color: #ffffff;
          font-size: 20px;
          letter-spacing: -0.025em;
          line-height: 1.5;
        }

        .imgcontainer {
          width: 220px;
          height: 200px;
          mix-blend-mode: luminosity;
          // overflow: hidden;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media (min-width: 1199px) {
  .cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 10rem 10rem;
    background-color: #679436;
    color: white;
    // overflow: hidden;

    .cardscontainer {
      display: flex;
      gap: 1rem;

      .cardcontainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        p {
          white-space: pre-wrap;
          word-wrap: break-word;
          word-break: break-word;
          max-width: 350px;
          font-weight: 400;
          font-style: normal;
          font-family: "Martian Mono", monospace;
          color: #ffffff;
          font-size: 20px;
          letter-spacing: -0.025em;
          line-height: 1.5;
        }

        .imgcontainer {
          width: 380px;
          height: 400px;
          mix-blend-mode: luminosity;
          // overflow: hidden;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}


@media (max-width: 430px) {
  .cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 2rem 2rem;
    background-color: #679436;
    color: white;
  
    .cardscontainer {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      display: flex;
      justify-content: start;
      align-items: flex-start;
      border: 1px solid red;
  
      .cardcontainer {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-direction: column;
        gap: 2rem;
  
        p {
          width: 100%;
          white-space: pre-wrap;
          word-wrap: break-word;
          word-break: break-word;
          font-weight: 400;
          font-style: normal;
          font-family: "Martian Mono", monospace;
          color: #ffffff;
          font-size: 16px;
          letter-spacing: -0.025em;
          line-height: 1.5;
          text-align: start;
          margin-left: 0.5rem;
        }
  
        .imgcontainer {
          width: 300px;
          height: 280px;
          mix-blend-mode: luminosity;
          // overflow: hidden;
  
          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
  
  
}